* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #262626;

  
}
 h1{
   margin: 0;
   font-size: 28px;
   line-height: 32px;
   font-weight: 300;
 }

 h2{
   font-size: 16px;
 }
header {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  align-items: center;
}

.logo {
  width: 6rem;
}

.boton-navegacion {
  background: none;
  border: none;
  width: 2rem;
  height: 2rem;
}

.call-to-action{
  background: none;
  border-radius: 5px;
  border: 1px solid #dddddd;
  padding: 2px 10px;
}

.boton-navegacion img {
  width: 100%;  
}

.redondo {
  border-radius: 50%;
}

.flex-container-row{
  display: flex;
  margin: 0.5rem;
  padding-left: 1rem;

}

.container-perfil{
  display: flex;

}

.imagen-perfil-container {
    width: 77px;
}

.imagen-perfil-container img{
  width: 100%;
}

.descripcion  .followers{
  margin: 5px 0;
  font-size: 12px;
}
.descripcion h2, .descripcion p, .descripcion a{
  margin: 0;
  padding-left: 1rem;
  padding-right: 1rem;

}

.estadistica-container,.nav-int-container
{
  border-top: 1px solid #9b9b9b;
  border-bottom: 1px solid #9b9b9b; 
  justify-content: space-between;
  margin: 0;
  padding: 0.5rem 1rem;
  font-size: 14px;

}

.nav-int-container
{
  display: flex;
    border-top: none;
    justify-content: space-around;
}

.estadistica-container p
{
  margin: 0;
  align-content: center;
}
.estadisticas-item
{
  text-align: center;
}
.estadisticas-item span
{
  font-weight: bold;
}
.estadisticas-item p
{
  color: #9b9b9b;
}
.descripcion
{
  margin-bottom: 1rem;
}
